.field {
    width: 1100px;
    height: 550px;
    background-color: rgb(10, 100, 10);
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.porteria-position {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.porteria {
    width: 125px;
    height: 400px;
    border: 5px solid white;
    border-right: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.field-position {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.goal {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50px;
}

.corner {
    width: 100%;

    .goal {
        background-color: transparent;
    }
}

.superior-izquierda {
    display: flex;
    justify-content: flex-start;
}

.inferior-derecha {
    display: flex;
    justify-content: flex-end;
}

.triangle {
    position: absolute;
    width: 0; 
    border-bottom: 25px solid bisque; 
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent;
}

.ball {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50px;
}